# Core Django Requirements
Django==4.2.13
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
django-cors-headers==4.3.1
django-apscheduler==0.7.0
psycopg2-binary==2.9.10
python-dotenv==1.1.1
pytz==2025.2
sqlparse==0.5.3
django-jazzmin==2.6.0
# Optional But Useful
Pillow==9.5.0       # For image handling
PyPDF2==3.0.1       # If using PDF features
python-docx==1.2.0  # If using Word documents
stripe==12.2.0      # If using Stripe payment

# Google Generative AI (keep only one if possible)
google-generativeai==0.8.5
google-auth==2.40.3
google-api-core==2.25.1
googleapis-common-protos==1.70.0

# Scheduler
APScheduler==3.9.1.post1

# Web Requests
requests==2.32.4
urllib3==2.5.0
idna==3.4
certifi==2023.7.22
charset-normalizer==3.2.0

# BeautifulSoup (for scrapers)
beautifulsoup4==4.13.0
soupsieve==2.7
lxml==5.4.0
